.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next
{
  background: #fcb425;
  display: inline-block;
  position: absolute;
  top: 25%;
}

.owl-carousel .owl-nav .owl-prev{
  left: 1px;
}

.owl-carousel .owl-nav .owl-next{
  right: 1px;
}
